{
 :logging  {:level :debug}

 :database {:hostname  "docker-hostname"
            :port      5432
            :dbname    "pomanka"
            :username  "pomanka"
            :password  "123123"
            :pool-size 5}

 :producer {}

 :dumper   {:source      {:hostname "docker-hostname"
                          :port     5432
                          :dbname   "sakura"
                          :username "pomanka"
                          :password "123123"}
            :database    {:hostname  "docker-hostname"
                          :port      5432
                          :dbname    "pomanka"
                          :username  "pomanka"
                          :password  "123123"
                          :pool-size 1}
            :server-name "test_server"
            :name        "Engine"
            :publication "test_publication"
            :slot-name   "test_repl"
            :topic-name  "pg_change_records"}

 :broker   {:port                  10000
            :offsets-save-interval 5000}

 :http     {:ip    "0.0.0.0"
            :port  3000
            :debug true}
 }
